<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<body>
     <table class="table table-hover">
    <thead>
      <tr>
        <th>Group Id</th>
        <th>Semester</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>

        {%for group in groups %}


        <tr>


            <td><a href="{% url 'student_list' group.group_id %}">{{ group.group_id }}</a></td>
          <td>{{ group.semester }}</td>
          <td>{{ group.year }}</td>



      </tr>

      {% endfor %}

    </tbody>
  </table>

</body>
</html>