{% extends 'base.html' %}

{% block links %}
<a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
<a class="nav-item nav-link" href="{% url 'all_routines' %}">Browse Routines</a>
<a class="nav-item nav-link" href="{% url 'all_students' %}">Browse Students</a>
<a class="nav-item nav-link active" href="{% url 'all_groups' %}">Browse Groups</a>
{% endblock %}

{% block content %}
<h1 align="center" style="margin-top:20px;margin-bottom:10px;">Group List - Year {{ year }} {{ faculty }}</h1>
<div class="container">
	<!--h5>Browse Groups By Year:
		{% for y in years %}
			<a href="{% url 'groups_by_faculty_year' faculty y %}">Year {{ y }}</a>
		{% endfor %}
	</h5-->
	<div class="md-col-10">
		<table class="table table-hover" align="center">
			<tr>
				<th>Group</th>
				<th>Year</th>
			</tr>
			{% for group in groups %}
				<tr>
					<td><a href="{% url 'group_view' group.group_id %}">{{group.group_id}}</a></td>
					<td>{{group.year}}</td>
				</tr>
			{% endfor %}				
		</table>			
	</div>
</div>
{% endblock %}