{% extends 'base.html' %}

{% block links %}
<a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
<a class="nav-item nav-link active" href="{% url 'all_routines' %}">Browse Routines</a>
<a class="nav-item nav-link" href="{% url 'all_students' %}">Browse Students</a>
<a class="nav-item nav-link" href="{% url 'all_groups' %}">Browse Groups</a>
{% endblock %}

{% block content %}
<div class="container">
	<h1 align="center" style="margin-top:20px;margin-bottom:10px;">All Routines</h1>
	<h5>Browse Routines By Year:
	{% for year in years %}
		<a href="{% url 'routines_by_year' year %}">Year {{ year }}</a>
	{% endfor %}
	</h5>
	<div class="md-col-10">
		<table class="table table-hover" align="center">
			<tr>
				<th>Module</th>
				<th>Lecturer</th>
				<th>Class Room</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Day</th>
				<th>Class Type</th>
				<th>Year</th>
				<th>Group(s)</th>
				<th>Attendance</th>
			</tr>
			{% for routine in routines %}
				<tr>
					<td>{{ routine.module.module_code }} {{ routine.module.title }}</td>
					<td>{{ routine.teacher }}</td>
					<td>{{ routine.location }}</td>
					<td>{{ routine.startTime }}</td>
					<td>{{ routine.endTime }}</td>
					<td>{{ routine.day_of_the_week }}</td>
					<td>{{ routine.class_type }}</td>
					<td>{{ routine.module.year }}</td>
					<td>{% for grp in routine.group_routine_set.all %}
							{{ grp.group.group_id }}
						{% endfor %}</td>
					<td><a href="{% url 'module_attendance_view' routine.routine_id %}">Check Attendance</a></td>
				</tr>
			{% endfor %}				
		</table>
	</div>
</div>
{% endblock %}
